<table border="1" style="border-collapse: collapse;" cellpadding="5" cellspacing="5">
  <tbody>
  <tr>
    <td style="width:150px;"><strong>WP Login URL</strong></td>
    <td><%= website.wp_login_url.blank? ? '--' : (link_to website.wp_login_url, website.wp_login_url, target: '_blank') %></td>
  </tr>
  <tr>
    <td><strong>WP Username</strong></td>
    <td><%= website.wp_username %></td>
  </tr>
  <tr>
    <td><strong>WP Password</strong></td>
    <td><%= website.wp_password %></td>
  </tr>
  </tbody>
</table>