<br />
<% if @cms_requests && (@cms_requests.number > 0) %>
	<% if @statistics %>
		<div class="red_message">
			<h3>Statistics</h3>
			<table cellpadding="2">
			<% @statistics.each do |s| %>
				<tr><td><%= s[0] %>:</td><td><%= s[1] %></td></tr>
			<% end %>
			</table>
		</div><br />
	<% end %>

	<%=render :partial => 'cms_request_list', :locals => {:cms_requests => @cms_requests, :list_of_pages => @list_of_pages, :action => 'cms_requests'}%>

<% else %>
	<p>No CMS translation jobs yet. <%= link_to(_('Back'), { controller: '/wpml/websites', :action=>:index }) %></p>
<% end %>
