<% error && error.each do |e| %>
	<div class="errorBox" style="border: 2px solid red">
		Error : <%=e.second%>
	</div>
<%end%>
<div style="text-align:center">
	<%= link_to "Edit", {:controller => :alias_profiles, :action => "edit_password", :id => alias_profile.id}, :method => :get, :remote => true %>
</div>