<p>You can add your logo and a link to your home page to all your customer support pages.
Doing this will help your visitors feel more at home and confident to communicate with you.</p>
<%= render(:partial=>'branding_wrap', :collection=>@brandings) %>

<div id="new_branding">
<%= render(:partial=>'new_branding_selector') %>
</div>
