<%= one_column_header("New projects, open to bids") %>

<div class="content">
	<table class="stats">
		<tr><th width="15%">Project</th><th width="30%">Description</th><th width="25%">Statistics</th></tr>
	</table>
</div>
