<p>We've just send your invitation. If you don't receive a reply soon, we recommend that you check with your translation and verify that our emails are received emails.</p>
<p>This invitation can always be resent.</p>
<br /><p><%= link_to('Invitations status', {:action=>:index}) %></p>