form {
  display: inline;
}

.warning {
	color:#AF0505;
	font-weight:bold;
}

.code_snip {
	border: 1px solid rgb(208, 208, 208);
	margin: 1em;
	padding: 0.5em;
	font-family: monospace;
	background-color: rgb(232, 232, 232);
	font-size: 130%;
	color:#700000;
}

.contactstatus { 
	float: right;
	width: 20em;
	border: 1px solid #C2DAFF; 
	padding: 0.5em;
	margin: -3em 0 0 1em;
}

.tokentext {
	background-color: #FFF000;
}

