<tr>
	<td><%= check_box_tag("notification[#{notification[0][0]}]", 1, notification[0][1]) %></td>
	<td><%= notification[1][0] %></td>
	<td><%= notification[1][1] %></td>
	<td><%= notification[1][2] %></td>
</tr>	