  Redirect 301 / /site/
  Redirect 301 /iphone_localization_guide_es.html /site/es/tutoriales/guia-para-la-localizacion-de-aplicaciones-iphone/
  Redirect 301 /sisulizer.html /site/services/software-localization/sisulizer-projects/
  Redirect 301 /software_localization_fr.html /site/fr/services-2/localisation-de-logiciel/
  Redirect 301 /website-translation.html /site/services/website-translation/
  Redirect 301 /help-translation_fr.html /site/fr/services-2/localisation-de-logiciel/traduction-de-fichiers-daide-windows/
  Redirect 301 /instant-text-translation_de.html /site/de/leistungen/textubersetzung/
  Redirect 301 /index_es.html /site/es/
  Redirect 301 /drupal-translation_fr.html /site/fr/services-2/traduction-de-site-web/traduction-de-sites-drupal/
  Redirect 301 /help-translation_es.html /site/es/servicios/localizacion-de-software/traduccion-de-archivos-de-ayuda-de-windows/
  Redirect 301 /support-ticket-system_fr.html /site/fr/services-2/traduction-de-texte/systeme-de-ticket-dassistance-gratuit/
  Redirect 301 /iphone_localization_es.html /site/es/servicios/localizacion-de-software/localizacion-de-aplicaciones-iphone/
  Redirect 301 /software_localization_de.html /site/de/leistungen/software-lokalisierung/
  Redirect 301 /software_localization.html /site/services/software-localization/
  Redirect 301 /sisulizer_de.html /site/de/leistungen/software-lokalisierung/sisulizer-projekte/
  Redirect 301 /drupal-translation.html /site/services/website-translation/drupal-translation/
  Redirect 301 /iphone_localization.html /site/services/software-localization/iphone-application-localization/
  Redirect 301 /support-ticket-system.html /site/services/text-translation/free-support-ticket-system/
  Redirect 301 /drupal-translation_de.html /site/de/leistungen/webseiten-ubersetzung/drupal-ubersetzung/
  Redirect 301 /instant-text-translation_es.html /site/es/servicios/traduccion-de-textos/
  Redirect 301 /instant-text-translation.html /site/services/text-translation/
  Redirect 301 /blog-translation.html /site/services/website-translation/wordpress-translation/
  Redirect 301 /instant-text-translation_fr.html /site/fr/services-2/traduction-de-texte/
  Redirect 301 /customer-support-interpretation_es.html /site/es/servicios/traduccion-de-textos/sistema-de-soporte-por-tickets-gratis/
  Redirect 301 /about.html /site/about-us/
  Redirect 301 /about_fr.html /site/fr/a-propos-de-nous/
  Redirect 301 /general-translation_es.html /site/es/servicios/traduccion-general/
  Redirect 301 /blog-translation_es.html /site/es/servicios/traduccion-de-sitios-web/traduccion-con-wordpress/
  Redirect 301 /customer-support-interpretation_de.html /site/de/leistungen/textubersetzung/ubersetzung-der-kundenbetreuung/
  Redirect 301 /customer-support-interpretation_fr.html /site/fr/services-2/traduction-de-texte/traduction-de-lassistance-a-la-clientele/
  Redirect 301 /iphone_localization_guide_fr.html /site/fr/tutoriels/guide-de-localisation-pour-les-applications-iphone/
  Redirect 301 /help-translation.html /site/services/software-localization/windows-help-file-translation/
  Redirect 301 /about_es.html /site/es/quienes-somos/
  Redirect 301 /general-translation_fr.html /site/fr/services-2/traduction-generale/
  Redirect 301 /customer-support-interpretation.html /site/services/text-translation/customer-support/
  Redirect 301 /iphone_localization_fr.html /site/fr/services-2/localisation-de-logiciel/localisation-dapplications-iphone/
  Redirect 301 /general-translation.html /site/services/general-translation/
  Redirect 301 /software_localization_es.html /site/es/servicios/localizacion-de-software/
  Redirect 301 /index_fr.html /site/fr/
  Redirect 301 /website-translation_fr.html /site/fr/services-2/traduction-de-site-web/
  Redirect 301 /iphone_localization_guide_de.html /site/de/tutorials-2/anleitung-zur-lokalisierung-von-iphone-programmen/
  Redirect 301 /general-translation_de.html /site/de/leistungen/allgemeine-ubersetzung/
  Redirect 301 /help-translation_de.html /site/de/leistungen/software-lokalisierung/ubersetzung-von-windows-hilfsdateien/
  Redirect 301 /sisulizer_es.html /site/es/servicios/localizacion-de-software/proyectos-sisulizer/
  Redirect 301 /index.html /site/
  Redirect 301 /blog-translation_fr.html /site/fr/services-2/traduction-de-site-web/traduction-de-wordpress/
  Redirect 301 /drupal-translation_es.html /site/es/servicios/traduccion-de-sitios-web/traduccion-de-sitios-en-drupal/
  Redirect 301 /support-ticket-system_es.html /site/es/servicios/traduccion-de-textos/sistema-de-soporte-por-tickets-gratis/
  Redirect 301 /blog-translation_de.html /site/de/leistungen/webseiten-ubersetzung/wordpress-ubersetzung/
  Redirect 301 /website-translation_de.html /site/de/leistungen/webseiten-ubersetzung/
  Redirect 301 /iphone_localization_guide.html /site/tutorials/iphone-applications-localization-guide/
  Redirect 301 /index_de.html /site/de/
  Redirect 301 /website-translation_es.html /site/es/servicios/traduccion-de-sitios-web/
  Redirect 301 /sisulizer_fr.html /site/fr/services-2/localisation-de-logiciel/projets-sisulizer/
  Redirect 301 /support-ticket-system_de.html /site/de/leistungen/textubersetzung/kostenloses-support-ticket-system/
  Redirect 301 /iphone_localization_de.html /site/de/leistungen/software-lokalisierung/lokalisierung-von-iphone-programmen/
  Redirect 301 /about_de.html /site/de/uber-uns/
