<p>Please use: <%= @auser.email %> with password: <%= @supporter_password %> to login with this translator in TA</p>
<p>This is only time when you see this password and it will expire in 6 hours, but you can generate another one at any time.</p>