<p>Your new password is for ICanLocalize has been reset to:</p>
<p class="red_message" style="width: 8em; text-align: center;"><%= @password %></p>
<br /><br />
<p>Once logged in, you can replace this password by clicking on 'My account'.</p>
<br /><br />
<p><%= link_to('Log in to your account', {:controller=>:login}) %></p>