<p>A new practice project has just been set up for you.</p>
<p>To start working on your project, you must download and install our translation software -  <%= link_to('download Translation Assistant', {:controller=>:downloads, :action=>:show_recent, :id=>TA_GENERIC_NAME}) %>.</p>
<p>Go to <%= link_to('your projects', {:controller=>:translator, :action=>:index}) %> to see the details and status of this work.</p>
