<h2><%=_("Thank you for validating your email address.")%></h2>
<p>
<%= _("Translation Analytics has started monitoring the progress of your site's translation. In a few days, we'll have enough information and you will be able to see the exact status and progress in all languages.") %>
</p>
<p>
  <%= (_("In the meanwhile, we invite you to read the %s, and learn about the different reports and alerts that are available to you.") % link_to(_("Translation Analytics Guide"), "http://wpml.org/documentation/translating-your-contents/translation-analytics-plugin/")).html_safe  %>
</p>
