<h1 class="green">Great <%= @registration.fname %>, your account is set up.</h1>
<p class="big">We've sent your password via e-mail</p>
<div class="red_message copy-token-message">
  <p>To continue, please enter the following authentication token into WPML:</p>
  <%= render partial: 'wpml/shared/api_key_instructions', locals: {api_key: @registration.api_key} %>
</div>
<%= render partial: 'wpml/shared/api_key_inserting_tuts' %>
<p class="text-center m-t-50">
  <%= link_to 'Next', wpml_websites_path, method: :get, class: 'rounded_but_orange' %>
</p>