<table border="0" cellpadding="5">
	<tr><td valign="top"><b>Title:</b></td><td bgcolor="#F0F0F0"><%= h(@lead.advertisement.get_title(@lead)) %></td></tr>
	<tr><td valign="top"><b>Body:</b></td><td bgcolor="#F0F0F0"><%= pre_format(@lead.advertisement.get_body(@lead)) %></td></tr>
</table>
