<p><%= _("Your session is now over. If you're using a shared PC, we also recommend that you clear cookies and stored passwords, to avoid others from logging in to your account.") %></p>
<br />
<p><%= link_to(_('Back to home page'),'/') %> &nbsp; | &nbsp; <%= link_to(_('Login'), {:action=>:index}) %></p>