<div class="text-center token-video">
  <iframe width="854" height="480" src="https://www.youtube.com/embed/_4p1CQHBqvQ?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>