<table class="row mail-footer">
  <tbody>
    <tr class="wrapper last">
      <table class="twelve columns">
        <tbody>
          <tr>
            <td class="text-pad">
              <p><%= EMAIL_SIGNATURE_HTML.html_safe %></p>
            </td>
            <td class="expander"></td>
          </tr>
        </tbody>
      </table>
    </tr>
  </tbody>
</table>
