<table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

    <table class="container">
      <tr>
        <td>

          <table class="row mail-header">
            <tr>
              <td class="wrapper last">

                <table class="twelve columns">
                  <tr>
                    <td>
                      <img src="http://www.icanlocalize.com/site/wp-content/themes/icanlocalize_new/images/logo.jpg" />
                    </td>
                    <td class="expander"></td>
                  </tr>
                </table>

              </td>
            </tr>
          </table><!-- .mail-header -->

        </td>
      </tr>
    </table>

        <table class="container">
      <tr>
        <td>

                <table class="row mail-body">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="text-pad">

              <!-- headers h1 - h4 -->
                            <h1>h1 email heading</h1>
                            <h2>h2 email heading</h2>
                            <h3>h3 email heading</h3>
                            <h4>h4 email heading</h4>

              <!-- paragraph - lead text -->
              <p class="lead">
                Make a paragraph stand out by adding <code>.lead</code> class.
              </p>

              <!-- paragraph -->
                      <p>
                <strong>Default paragraph.</strong> Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus. Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui. Pellentesque non lacinia mi.
              </p>

              <!-- link -->

              <!-- unordered list -->
              <ul>
                <li>Terram tegi piscibus ardentior dextra gentes caelum pulsant fuerat cuncta divino aequalis nulli bene quanto semina egens sidera</li>
                <li>Matutinis tumescere aliis cesserunt dei adsiduis vos acervo coeptis manebat nabataeaque aestu sine</li>
                <li>Mundo ensis usu est formaeque dextra recens orbe amphitrite his perpetuum aethera</li>
              </ul>

              <!-- ordered list -->
              <ol>
                <li>Longo levius recens aberant zonae umentia toto feras extendi plagae frigida consistere sive divino iussit regio os cura levius cum sidera librata partim aeris</li>
                <li>Deus sata faecis galeae praebebat plagae mare montibus caeca sidera aer porrexerat sole est matutinis lumina ubi passim</li>
                <li>Metusque ripis pinus fecit orbem supplex litem aethera sidera formas iapeto haec</li>
                <li>Tonitrua ita caeleste nulli motura his fecit tellure contraria spectent</li>
              </ol>

              <!-- BUTTONS -->

              <!-- action button -->
              <div><!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://icanlocalize.com" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="10%" strokecolor="#D26918" fillcolor="#ed9c28"><w:anchorlock/><center style="color:#ffffff;font-family:'Lucida Grande',Verdana,Arial,sans-serif;font-size:18px;font-weight:normal;">Action button</center></v:roundrect><![endif]--><a href="http://icanlocalize.com" style="background-color:#ed9c28;border:1px solid #D26918;border-radius:4px;color:#fff!important;display:inline-block;font-family:'Lucida Grande',Verdana,Arial, sans-serif;font-size:18px;font-weight:normal;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;">Action button</a></div>

              <br />

              <!-- warning button -->
              <div><!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://icanlocalize.com" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="10%" strokecolor="#a31414" fillcolor="#da1f2a"><w:anchorlock/><center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">Warning button!</center></v:roundrect><![endif]--><a href="http://icanlocalize.com" style="background-color:#da1f2a;border:1px solid #a31414;border-radius:4px;color:#fff;display:inline-block;font-family:sans-serif;font-size:18px;font-weight:normal;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;">Warning button!</a></div>

              <br />

              <!-- notification button -->
              <div><!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://icanlocalize.com" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="10%" strokecolor="#269abc" fillcolor="#39b3d7"><w:anchorlock/><center style="color:#ffffff;font-family:sans-serif;font-size:18px;font-weight:normal;">Notification button!</center></v:roundrect><![endif]--><a href="http://icanlocalize.com" style="background-color:#39b3d7;border:1px solid #269abc;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:18px;font-weight:normal;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;">Notification button!</a></div>

              <br />

              <!-- highghlight - panels - alert boxes -->
              <!-- new with link -->
              <table>
                <tr>
                  <td class="panel panel-new">
                    <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#">Click it! »</a></p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
              <br/>

              <!-- warning -->
              <table>
                <tr>
                  <td class="panel panel-warning">
                    <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.</p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
              <br/>

              <!-- info -->
              <table>
                <tr>
                  <td class="panel panel-info">
                    <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.</p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

              <!-- comment -->
              <p class="text-comment">
                Tractu recens. Minantia lapidosos. Adsiduis obstabatque astra inmensa tuba nam. Crescendo consistere onerosior persidaque caeleste nullo. Librata omni mentes. Caligine sponte. Ripis terra ad consistere. Matutinis utramque dei circumfuso? Media quoque ne madescit cuncta. Nuper zonae postquam diversa coercuit vix militis dicere imagine.
              </p>


                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table><!-- .mail-body -->


                <table class="row mail-footer">
                  <tr>
                    <td class="wrapper">

                      <table class="six columns">
                        <tr>
                          <td class="text-pad">

                            <h5>Connect With Us:</h5>

                            <table class="tiny-button facebook">
                              <tr>
                                <td>
                                  <a href="#">Facebook</a>
                                </td>
                              </tr>
                            </table>

                            <table class="tiny-button twitter">
                              <tr>
                                <td>
                                  <a href="#">Twitter</a>
                                </td>
                              </tr>
                            </table>

                            <table class="tiny-button google-plus">
                              <tr>
                                <td>
                                  <a href="#">Google +</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                    <td class="wrapper last">

                      <table class="six columns">
                        <tr>
                          <td class="last right-text-pad">
                            <h5>Contact Us:</h5>
                            <p><a href="mailto:hello@icanlocalize.com">hello@icanlocalize.com</a></p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table><!-- .mail-footer -->


                <table class="row mail-bottom">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td align="center" class>
                            <center>
                              <p style="text-align:center;"><a href="#">Link #1</a> | <a href="#">Link #2</a> | <a href="#">Link #3</a></p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table><!-- .mail-bottom -->

              <!-- container end below -->
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
