<p>Dear <%= @client.full_real_name %>,</p>

<p>Thank you for trusting us the translation of <%=@website.name %></p>

<p>Do you need some help to get started? I can see you already have applications from translators interested in working on your project.</p>

<p>Are you looking for a specific translator?</p>

<p>Please, tell me a little bit more about the translator you need and I will do my best to help you find them.</p>

<p>Kind regards,</p>