<p>Dear <%= @client.full_real_name %>,</p>

<p>Thank you for trusting us the translation of your site <%=@website.name %>.</p>

<p>
I can see you already sent content to translate. Do you need some help to proceed with this pending payment? Translators won’t have access to the content until payment is made.
</p>

<p>Please, let me know if you need some help regarding payment. I’ll be happy to assist.</p>

<p>Kind regards,</p>