<p>Dear <%= @user.fname.titleize %> <%= @user.lname.titleize %>,</p>

<p>Your password has been changed.</p>

<p>Please refer below for details below:</p>
<p>----------------------------------</p>
<p>Password: <%= @password %></p>
<p>-------------------------------------</p>
<p>For further inquiries, please contact support.</p>