<%page args="name" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>${name} [ICanLocalize]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <script type="text/javascript" src="/assets/scripts/index.js"></script>
    <link rel="STYLESHEET" type="text/css" href="/assets/custom/home.css"/>

    <script type="text/javascript" src="/assets/plugins/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/plugins/popup.css"/>
    <link type="image/png" href="/assets/favicon.png" rel="shortcut icon"/>
    <link type="image/png" href="/assets/favicon.png" rel="icon"/>

</head>
<body onload="{ getElementsWithTitles(); }">
    <div style="clear:both;">
        <a href="/">
            <img src="/assets/web_logo_large.png" width="317" height="91" alt="ICanLocalize" class="imageBorder"/>
        </a>
    </div>
    <div id="topbar">
        <a href="/login/">Login</a> &nbsp;-&nbsp; <a href="/about.html">About us</a> &nbsp;-&nbsp; <a href="/contacts/new">Contact</a>
    </div>
    <ul id="topnavigation">
        <li class="nonselectedtab"><a href="/">Home</a></li>
        <li class="selectedtab_active"><a href="/website-translation.html">Website Translation</a></li>
        <li class="nonselectedtab"><a href="/customer-support-interpretation.html">Customer support Interpretation</a></li>
        <li class="nonselectedtab lasttab"><a href="/instant-text-translation.html">Instant Text Translation</a></li>
    </ul>
    <div id="maincontents">
        <h1>${name}</h1>