<tr>
	<% bgcol = StringTranslation::TRANSLATION_COLOR_CODE[STRING_TRANSLATION_COMPLETE] #bgcol = ((resource_chat.word_count > 0) || [RESOURCE_CHAT_PENDING_TRANSLATION,RESOURCE_CHAT_TRANSLATOR_NEEDS_TO_REVIEW].include?(resource_chat.translation_status)) ? StringTranslation::TRANSLATION_COLOR_CODE[STRING_TRANSLATION_NEEDS_UPDATE] : StringTranslation::TRANSLATION_COLOR_CODE[STRING_TRANSLATION_COMPLETE] %>
	<td style="background-color:<%= bgcol %>;">1</td>
	<td style="background-color:<%= bgcol %>;">1</td>
	<td style="background-color:<%= bgcol %>;">1</td>
	<td style="background-color:<%= bgcol %>;">1</td>
</tr>
