<div id="appModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          ModalBox Window
          <small style="float: right">
            <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
          </small>
        </h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>